<div class="pages-boundary"
     #container
     (mousedown)="onMouseDownOnView($event)">
  <div class="page-container" *ngFor="let page of pageStructure.pages; trackBy: update"
       appDragable
       [appDragablePage]="page"
       (dragEnded)="dragEnded($event)"
       [style.z-index]="page.draggingNewConnection ? 5 : 0">

    <app-small-page-preview [page]="page">
    </app-small-page-preview>

    <div class="connection-drag-starter" (mousedown)="startConnectionDrag(page)">
      <div></div>
    </div>

    <div *ngIf="page.draggingNewConnection" class="new-connection">
      <app-draggable-arrow [currentlyDragged]="true" (connectionDragEnded)="connectionDragEnded($event)"></app-draggable-arrow>
    </div>
  </div>

    <ng-container *ngFor="let page of pageStructure.pages; trackBy: update">
        <ng-container *ngFor="let connection of page.connections; trackBy: connectionUpdate">
            <div class="connection" [ngStyle]="{'top': -(2000 - page.pixelPosY - 33) + 'px', 'left': page.pixelPosX + 80 + 'px'}">
                <app-draggable-arrow [currentlyDragged]="false"
                                     [toPosition]="convertToConnectionDestination({x: page.pixelPosX, y: page.pixelPosY}, {x: connection.nextPage.pixelPosX, y: connection.nextPage.pixelPosY})"></app-draggable-arrow>
            </div>
        </ng-container>
    </ng-container>

</div>
