<ng-content *ngIf="!state; else editForm"></ng-content>
<ng-template #editForm>
  <form [formGroup]="newIdForm" (ngSubmit)="saveChanges()">
    <mat-form-field class="right-sidebar-edit-input">
      <mat-label>New ID</mat-label>
      <input required matInput  [style]="elemStyles" formControlName="email" [errorStateMatcher]="errorStateMatcher" (focus)="onFocus()" (blur)="onBlur()">
      <mat-error *ngIf="newIdForm.controls.email.errors">
          <p class="error-message" *ngIf="newIdForm.controls.email.errors.duplicateId">ID <strong>already</strong> exists.</p>
          <p class="error-message" *ngIf="newIdForm.controls.email.errors.required">This field is <strong>required.</strong></p>
      </mat-error>
    </mat-form-field>
    <div class="action-buttons">
      <button (click)="saveChanges(true)" type="submit" [disabled]="newIdForm.controls.email.invalid" mat-mini-fab class="accept action-button">
        <mat-icon fontSet="fontawesome" fontIcon="fa-check" class="fa-xs action"></mat-icon>
      </button>
      <button (click)="saveChanges(true, currentPage.questionId)" mat-mini-fab class="cancel action-button">
        <mat-icon fontSet="fontawesome" fontIcon="fa-times" class="fa-xs action"></mat-icon>
      </button>
    </div>
  </form>
</ng-template>
