@import "variables";

form {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-error {
    p {
      margin: 0 !important;
    }
  }
}

:host:hover {
  cursor: pointer;
}

:host {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.accept {
  background-color: $green-success;
}

.cancel {
  background-color: $red-warning;
}

button {
  height: 32px;
  width: 32px;
}

.action {
  color: white;
}

.action-buttons {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    margin: 0.2rem;
  }
}
