<app-page-default-properties [page]="page"></app-page-default-properties>
<section [formGroup]="sliderControlForm">
    <mat-label>Slider Config:</mat-label>
    <mat-form-field>
        <input matInput placeholder="Lower Limit" formControlName="lowerLimit" type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Upper Limit" formControlName="upperLimit" type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Upper Limit Label" formControlName="upperLimitLabel">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Lower Limit Label" formControlName="lowerLimitLabel">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Stepsize Web" formControlName="stepSizeWeb" type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Stepsize Mobile" formControlName="stepSizeMobile" type="number">
    </mat-form-field>
</section>