<mat-sidenav-container class="all">
    <mat-sidenav #sidenav mode="side" position="end"
                 [(opened)]="pageStructure.isOneSelected">
        <app-right-sidebar [selectedPage]="pageStructure.selectedPages[0]"></app-right-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        <main>
            <app-left-sidebar></app-left-sidebar>
            <app-main-view [zoomLevel]="pageViewGrid.zoomLevel" appMainViewZoom appSelectRect selectRectClass="select-rect"></app-main-view>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>


