@import "variables";

.all {
  height: 100%;

  mat-sidenav{
    background: $blue-light;
  }

  main {
    display: grid;
    grid-template-columns: 50px auto; //changing this will break the select rect, to fix edit select-rect.directive.ts line 87
    height: 100%;

    app-main-view {
      -webkit-user-drag: unset;
      overflow: auto;
      z-index: 2;
    }

    .select-rect {
      background: $select-rect-background-color;
      outline: $select-rect-outline-color auto 1px;
      z-index: 5;
    }
  }

  mat-sidenav-content {
    overflow: hidden;
  }
}
