.all {
  height: 100%;

  main {
    display: grid;
    grid-template-columns: 50px auto;
    height: 100%;

    app-main-view {
      -webkit-user-drag: unset;
      overflow: auto;
    }

    .select-rect {
      background: rgba(255,0,0,.1);
      outline: red auto 1px;
      z-index: 5;
    }
  }
}
