<mat-toolbar>
  <button mat-icon-button (click)="addPage()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button  (click)="removeSelection()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button (click)="pageViewGrid.zoomLarger()">
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button mat-icon-button (click)="pageViewGrid.zoomSmaller()">
    <mat-icon>zoom_out</mat-icon>
  </button>
  <button mat-icon-button (click)="pageViewGrid.setZoomInitial()">
    <mat-icon>zoom_out_map</mat-icon>
  </button>
</mat-toolbar>
