<mat-toolbar>
  <button mat-icon-button matTooltip="Add a new page" matTooltipPosition="after" matTooltipClass="left-tooltip"
          (click)="addPage()">
    <mat-icon fontSet="fontawesome" fontIcon="fa-plus" class="fa-lg" class="white-icon"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Delete a page" matTooltipPosition="after" matTooltipClass="left-tooltip"
          (click)="pageStructure.removeSelectedPages()">
    <mat-icon fontSet="fontawesome" fontIcon="fa-trash" class="fa-lg" class="white-icon"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Add to Clipboard" matTooltipPosition="after" matTooltipClass="left-tooltip"
          (click)="pageStructure.addToClipboard(pageStructure.selectedPages)">
    <mat-icon fontSet="fontawesome" fontIcon="fa-copy" class="fa-lg" class="white-icon"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Cut a page" matTooltipPosition="after" matTooltipClass="left-tooltip"
          (click)="pageStructure.cut(pageStructure.selectedPages)">
    <mat-icon fontSet="fontawesome" fontIcon="fa-cut" class="fa-lg" class="white-icon"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Paste" matTooltipPosition="after" matTooltipClass="left-tooltip"
          (click)="pasteClipboard()">
    <mat-icon fontSet="fontawesome" fontIcon="fa-paste" class="fa-lg" class="white-icon"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Search" (click)="searchService.toggle()" matTooltipPosition="after" matTooltipClass="left-tooltip">
    <mat-icon fontSet="fontawesome" fontIcon="fa-search" class="fa-lg" class="white-icon"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Zoom in" matTooltipPosition="after" matTooltipClass="left-tooltip"
          (click)="pageViewGrid.zoomLarger()">
    <mat-icon fontSet="fontawesome" fontIcon="fa-search-plus" class="fa-lg" class="white-icon"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Zoom out" matTooltipPosition="after" matTooltipClass="left-tooltip"
          (click)="pageViewGrid.zoomSmaller()">
    <mat-icon fontSet="fontawesome" fontIcon="fa-search-minus" class="fa-lg" class="white-icon"></mat-icon>
  </button>
</mat-toolbar>
