<section [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Short Name" formControlName="shortName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Help Question" formControlName="helpQuestion">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Help Tooltip" formControlName="helpTooltip">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Handover Text" formControlName="handoverText">
  </mat-form-field>
  <div>
    <mat-checkbox formControlName="mandatory">mandatory</mat-checkbox>
    <mat-checkbox formControlName="handover">handover</mat-checkbox>
  </div>
</section>