@import "variables";

* {
  user-select: none;
}

p {
  text-align: center;
  margin: 0;
  padding-bottom: 0.25rem;
  font-size: 4px;
}

.selected {
  outline: red auto 1px;
}

div {
  height: 44px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $small-page-preview-color;
  border-radius: 2px;
}

app-mini-page-menu {
  position: absolute;
  transform: translate(80px, -54px);
}
