p {
    text-align: center;
    margin: 0;
    padding-bottom: 0.3rem;
  }

  mat-card {
    height: 150px;

    mat-card-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }