<div class="search-div">
  <mat-icon fontSet="fontawesome" fontIcon="fa-search" class="fa-lg search-button"></mat-icon>
  <input [(ngModel)]="searchService.keyword" type="text" autofocus placeholder="Search">
</div>
<mat-list class="results" *ngIf="searchService.getResults() as results">
  <div *ngFor="let page of results; let last = last">
    <mat-list-item class="item">
      <mat-icon fontSet="fontawesome" fontIcon="fa-search" class="fa-lg search-button"></mat-icon>
      <p>{{page.questionId}}</p>
    </mat-list-item>
    <div class="divider" *ngIf="!last"></div>
  </div>
</mat-list>
