body {
  box-sizing: border-box;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  font-family: "Franklin Gothic Book", sans-serif;
  user-select: none;
}

@media (max-width: 767px) {
  body {
    padding: 15px;
  }
}

article{
  margin: 10px;
}

.content {
  display: none;
}

.title:hover{
  font-weight: bold;
  text-decoration: underline;
}

ul{
  list-style-type: disc;
}
