$blue-light: rgb(224, 238, 251);
$blue-dark: rgb(36, 88, 146);
$blue-med: rgb(175, 213, 238);
$accent: rgb(204, 43, 47);

$small-page-preview-color: $blue-med;
$left-sidebar-color: rgb(36, 88, 146);
$green-success: #2BCC57;
$red-warning: $accent;
$mini-page-menu-button-background: $blue-dark;

$page-selected-outline-color: $accent;

$right-click-menu-background: $blue-light;
$right-click-menu-hover: $blue-med;

$select-rect-background-color: rgba(204, 43, 47, .1);
$select-rect-outline-color: rgba(204, 43, 47, .1);

$connection-drag-starter-color: lighten($blue-dark, 20);
$connection-drag-starter-color-hover: $blue-dark;
$connection-color: lighten($blue-dark, 20);
$connection-hover-color: $blue-dark;

$search-color: $blue-light;
$search-color-dark: $blue-med;
$search-color-dark-scroll: $blue-med;

