$small-page-preview-color: darken(white, 10);
$left-sidebar-color: darken(white, 10);
$green-success: #2ecc71;
$red-warning: #e74c3c;
$mini-page-menu-button-background: #ffb53c;

$page-selected-outline-color: red;

$right-click-menu-background: #ddd;
$right-click-menu-hover: #bbb;

$select-rect-background-color: rgba(255, 0, 0, .1);
$select-rect-outline-color: red;

$connection-drag-starter-color: #8998ff;
$connection-drag-starter-color-hover: #2cb5ff;
$connection-color: red;

$search-color: #f8f5f4;
$search-color-dark: #eeebea;
$search-color-dark-scroll: #D7D4D3
