$small-page-preview-color: darken(white, 10);
$sidebar-color: darken(white, 10);
$green-success: #2ecc71;
$red-warning: #e74c3c;
$mini-page-menu-button-background: #ffb53c;
$right-click-menu-background: #ddd;
$right-click-menu-hover: #bbb;
