<div [ngSwitch]="selectedPage.templateType" *ngIf="selectedPage; else notChosen">
  <app-edit [currentPage]="selectedPage" (valueChange)="selectedPage.questionId = $event" class="line">
    <mat-icon>edit</mat-icon>
    <h2>{{selectedPage?.questionId}}</h2>
  </app-edit>
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedPage.templateType">
      <mat-option value="none">None</mat-option>
      <mat-option value="AdvisorLogin">Advisor Login</mat-option>
      <mat-option value="SingleSelectCheckbox">Single Select Checkbox</mat-option>
      <mat-option value="SplashScreen">Splash Screen</mat-option>
      <mat-option value="Slider">Slider</mat-option>
      <mat-option value="FamilySituation">Family Situation</mat-option>
      <mat-option value="MultiSelectCheckbox">Multi Select Checkbox</mat-option>
      <mat-option value="MonthlyInvestment">Monthly Investment</mat-option>
      <mat-option value="Summary">Summary</mat-option>
      <mat-option value="ConfirmationRejection">Confirmation Rejection</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Current Type: {{selectedPage.templateType}}</p>

  <div *ngSwitchCase="'Slider'">
    <h2 class="example-h2">Slider configuration</h2>

    <section class="example-section">
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Value" [(ngModel)]="value">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Min value" [(ngModel)]="min">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Max value" [(ngModel)]="max">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <input matInput type="number" placeholder="Step size" [(ngModel)]="step">
      </mat-form-field>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="showTicks">Show ticks</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="autoTicks" *ngIf="showTicks">
        Auto ticks
      </mat-checkbox>
      <mat-form-field class="example-margin" *ngIf="showTicks && !autoTicks">
        <input matInput type="number" placeholder="Tick interval" [(ngModel)]="tickInterval">
      </mat-form-field>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="thumbLabel">Show thumb label</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="vertical">Vertical</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="invert">Inverted</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
    </section>
    <h2 class="example-h2">Result</h2>

    <mat-slider
      class="example-margin"
      [disabled]="disabled"
      [invert]="invert"
      [max]="max"
      [min]="min"
      [step]="step"
      [thumbLabel]="thumbLabel"
      [tickInterval]="tickInterval"
      [(ngModel)]="value"
      [vertical]="vertical">
    </mat-slider>
  </div>
  <button (click)="selectedPage.templateType = 'none'" class="main-buttons" mat-raised-button color="warn">
    <mat-icon>settings_backup_restore</mat-icon>
    Reset
  </button>
</div>

<ng-template #notChosen>
  <h1>choose something</h1>
</ng-template>
