div {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .question-id {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
  }

  mat-checkbox {
    margin-top: 100px;
    user-select: none;
  }

  app-slider-properties,
  app-family-situation-properties,
  app-monthly-investment-properties,
  app-multi-select-checkbox-properties,
  app-single-select-checkbox-properties,
  app-confirmation-rejection-proprties,
  app-advisor-login-proprties,
  app-summary-properties,
  app-splash-screen-properties {
    width: 220px;
  }
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-buttons {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

mat-checkbox {
  margin: auto auto 1rem;
}
